trigger:
    - master
    - testing
    - dev

variables:
    - name: isFeatureBranch
      value: $[startsWith(variables['Build.SourceBranch'], 'refs/heads/feature')]
    - name: isTestingBranch
      value: $[startsWith(variables['Build.SourceBranch'], 'refs/heads/testing')]
    - name: isReleaseBranch
      value: $[startsWith(variables['Build.SourceBranch'], 'refs/heads/release/')]
    - name: isHotfixBranch
      value: $[startsWith(variables['Build.SourceBranch'], 'refs/heads/hotfix/')]

    - ${{ if eq(variables['build.SourceBranchName'], 'master') }}:
          - group: cm-REEMPLAZAR-prod

    - ${{ if eq(variables['build.SourceBranchName'], 'testing') }}:
          - group: cm-REEMPLAZAR-test

    - ${{ if eq(variables['build.SourceBranchName'], 'dev') }}:
          - group: cm-REEMPLAZAR-dev

resources:
    repositories:
        - repository: template-apis
          type: git
          name: DevopsInfrasture/template-apis
          ref: refs/heads/main

extends:
    template: init.yml@template-apis
